<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>logback</contextName>
    <!-- 日志路径文件中的变量,标明当前用户,从application.yml 中取得，通过jar启动时 可以通过 logging.userPath=XXX 来覆盖application.yml中的默认值 (XXX)一般为当前系统用户名  -->
    <springProperty scope="context" name="LOG_USER" source="."/>
    <!-- 日志路径文件中的变量,标明日志输出路径前缀，使用方式如上，logging.prefixpath=XXX  实现动态配置  XXX为日志文件绝对路径的前缀部分-->
    <springProperty scope="context" name="LOG_PREFIX" source="."/>

    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
             <level>ERROR</level>
         </filter>-->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--被写入的文件名，可以是相对目录，也可以是绝对目录，如果上级目录不存在会自动创建，没有默认值。-->
        <file>${LOG_PREFIX}/${LOG_USER}/logs/logback.log</file>
        <!--滚动记录文件：根据时间来制定滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PREFIX}/${LOG_USER}/logs/logback.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100 MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>
    <!-- 测试环境+开发环境. 多个使用逗号隔开. -->
    <springProfile name="test,dev">
        <logger name="com.colia.controller" level="info"/>
    </springProfile>

    <!-- 生产环境. -->
    <springProfile name="prod">
        <logger name="com.colia.controller" level="ERROR"/>
    </springProfile>

</configuration>